<h1>Your Basket Has</h1>
<ul>

  <% @items.each do |item| %>
  <br>
    <li> <%= item.name %></li>

    <% item.shops.each do |shop| %>
    <li> <%= shop.name %> <%= shop.price %></li>

    <% end %>
    <br>
  <% end %>
</ul>
