// Specific CSS for your home-page
#home-bgr{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dth8lnhas/image/upload/v1662816111/Screenshot_2022-09-10_at_14.21.29_kkvfdi.png");
}
#btn-white-lrg{
  background-color: white;
  border-color: transparent;
  color: #EF476F;
  font-size: 16px;
  width: 85%;

}
