// Specific CSS for your home-page
#home-bgr{
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: contain;
  position: relative;
  background-image: url("https://res.cloudinary.com/dth8lnhas/image/upload/v1662816111/Screenshot_2022-09-10_at_14.21.29_kkvfdi.png");
}
#btn-white-lrg{
  background-color: white;
  border-color: transparent;
  color: #EF476F;
  font-size: 16px;
  width: 85%;
  margin-top: 30px;

}

#home-body {
  width: 100vw;
  height: 100vh;
}

.btn-cover {
  position: absolute;
  bottom: 20%;
  left: 13%;
}
