// Import page-specific CSS files here.
@import "home";
@import "cards";
@import "show";

.init-container {
  background-color: #06D6A0;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}
.margin{
  margin-top: 20px;
}
#search-match{
  padding-left: 20px;
}

.init-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 50%;
}

.fade-out {
  opacity: 0;
  transition: 1.5s;
}
