
<div class="cart-wrapper <%= "d-none" if @basket.items.count == 0 %>"

  data-cart-target="cartjs">

  <div class="footer-side">
  </div>

<%= link_to "basket", basket_path(@basket) %>
  <div class="footer-center">
    <div class="text-red-bold">
      <p><strong>View basket</strong></p>
    </div>
  </div>

  <div class="footer-side">
    <div class="text-red-bold">
      <p><strong>£ TO.DO</strong></p>
    </div>
  </div>

</div>
