<% invalid = @basket.items.count == 0 || current_page?(basket_path(@basket)) || current_page?(root_path(@page)) %>
<% if user_signed_in? && invalid == false %>
 <%= link_to basket_path(@basket) do %>

  <div class="cart-wrapper sticky-bottom<%= "d-none" if invalid %>"

    data-cart-target="carts">

    <div class="footer-side">
    </div>

    <div class="footer-center">
      <div class="text-red-bold">
        <p><strong>View basket</strong></p>
      </div>
    </div>

    <div class="footer-side">
      <div class="text-red-bold">

        <p><strong>£ <%= '%.2f' % Basket.where(user_id: current_user).last.total_price %></strong></p>

      </div>
    </div>


  </div>
   <% end %>
   <% end %>
