<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top" <%= "d-none" if current_page?(root_path(@page))  %>>
  <div class="container-fluid">
    <div >
      <button data-action="click->sidebar#bar"  class="btn btn-primary navbar-brand" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <%= image_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1662799284/Screenshot_2022-09-10_at_09.41.03_pxfc3h.png" %>
      </button>

    </div>

    <div id="search-form">
      <%= simple_form_for :search, url: items_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",

          placeholder: "eg. Linseed bread..."
          %>

          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>


        </div>
      <% end %>
    </div>



  </div>


</div>
