<div class="sidebar-wrapper "
  data-sidebar-target="side">


  <div class=sidenav-wrapper>

    <a href="/users/sign_in" class="sidebar-navbar">
      <span class="sidebar-icon-box">
      </span>
        <p class="nav-txt-box">Login/Register</p>
    </a>

    <a href="/users/sign_in" class="sidebar-navbar">
      <span class="sidebar-icon-box">
      </span>
        <p class="nav-txt-box">Need help?</p>
    </a>

      <div class="sidebar-nav-btn">
      </div>
  </div>

  <div class="btn-wrap">

        <a href= /items class="sidebar-btn">
            <p class="bold-drk-text"> SUPER SAV£RS </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Test </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Baby </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Bakery </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Chilled Food </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Drinks </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Food cupboard </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Fresh food </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="link to bargains"class="sidebar-btn">
            <p class="bold-drk-text"> Frozen food </p>
            <p class="btn-right-box">></p>
        </a>



  </div>

</div>
