<div class="sidebar-wrapper "
  data-sidebar-target="side">

  <div class=sidenav-wrapper>
    <a href="/users/sign_in" class="sidebar-navbar">
      <span class="sidebar-icon-box">
      </span>
      <p class="nav-txt-box">Login/Register</p>
    </a>
    <a href="/users/sign_in" class="sidebar-navbar">
      <span class="sidebar-icon-box">
      </span>
      <p class="nav-txt-box">Need help?</p>

    </a>
      <div class="sidebar-nav-btn">
      </div>
    </div>
  </div>

  <div class="sidebar-btn">
    <div class="sidebar-btn-lft">
      <div class="bold-drk-text">
      </div>
    </div>
    <div class="sidebar-btn-rt">
      <div class="click-btn">
      </div>
    </div>
  <%# </div> %>
</div>
