
  <div class="sidebar-wrapper" <%= "d-none" if current_page?(root_path(@page))  %>
    data-sidebar-target="side">

  <div style="width: 298px"class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

    <div class=sidenav-wrapper>
        <%# logout needs to be fixed %>
        <% if user_signed_in? %>


        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'sidebar-navbar' do %>
        <span class="sidebar-icon-box fa-solid fa-user">
          </span>
           <p class="nav-txt-box">Logout</p>
        <% end %>
        <% else %>
        <a href="/users/sign_in" class="sidebar-navbar">
          <span class="sidebar-icon-box fa-solid fa-user">
          </span>
            <p class="nav-txt-box">Login/Register</p>
        </a>
        <% end %>

        <a href="/users/sign_in" class="sidebar-navbar">
          <span class="sidebar-icon-box fa-solid fa-circle-question">
          </span>
            <p class="nav-txt-box">Need help?</p>
        </a>

          <div class="sidebar-nav-btn">
          </div>
    </div>
    <div class="btn-wrap">

          <%# NEED TO INSERT LINKS %>
           <a href="/items"class="sidebar-btn">

              <p class="bold-drk-text"> Home page </p>
              <p class="btn-right-box">></p>
          </a>
          <a href="/items"class="sidebar-btn">

              <p class="bold-drk-text"> SUPER SAV£RS </p>
              <p class="btn-right-box">></p>
          </a>
          <a href="INSERT LINK"class="sidebar-btn">
              <p class="bold-drk-text"> Previous baskets </p>
              <p class="btn-right-box">></p>
          </a>


      <% categories = Item::CATEGORIES %>
      <% categories.each do |category| %>
        <%= link_to items_path(category: category), class: "sidebar-btn" do%>
          <p style="font-weight:normal"class="bold-drk-text"> <%= category.gsub("-", " ").capitalize %></p>
          <p class="btn-right-box">></p>
        <% end %>
      <% end %>
    </div>


  </div>





  </div>
