<div class="sidebar-wrapper "
  data-sidebar-target="side">


  <div class=sidenav-wrapper>

    <a href="/users/sign_in" class="sidebar-navbar">
      <span class="sidebar-icon-box">
      </span>
        <p class="nav-txt-box">Login/Register</p>
    </a>

    <a href="/users/sign_in" class="sidebar-navbar">
      <span class="sidebar-icon-box">
      </span>
        <p class="nav-txt-box">Need help?</p>
    </a>

      <div class="sidebar-nav-btn">
      </div>
  </div>

  <div class="btn-wrap">

        <%# NEED TO INSERT LINKS %>
        <a href="INSERT LINK"class="sidebar-btn">

            <p class="bold-drk-text"> SUPER SAV£RS </p>
            <p class="btn-right-box">></p>
        </a>
        <a href="INSERT LINK"class="sidebar-btn">
            <p class="bold-drk-text"> Test </p>
            <p class="btn-right-box">></p>
        </a>


    <% categories = Item::CATEGORIES %>
    <% categories.each do |category| %>
      <%= link_to items_path(category: category), class: "sidebar-btn" do%>
         <p class="bold-drk-text"> <%= category.capitalize %></p>
         <p class="btn-right-box">></p>
      <% end %>
    <% end %>


  </div>

</div>
