<div class="sidebar-wrapper "
     data-sidebar-target="side">
  <div class="sidebar-navbar">
    <div class="sidebar-nav-btn">
      <div class="sidebar-icon-box">
        hello
      </div>
      <div class="bold-white-txt">
        Login/Register
      </div>
    </div>
  </div>

  <div class="sidebar-btn">

  </div>
</div>
