
<html>
  <head >
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
    </style>
    </head>
    <body id="home-body">
     <div id="home-bgr">

      <div class="btn-cover">

        <a id="btn-white-lrg" class="btn btn-primary" href="users/sign_up" role="button">New here? Enter postcode</a>

        <a id="btn-white-lrg" class="btn btn-primary" href="users/sign_in" role="button">Alredy a Saver? Log in</a>
      </div>

     </div>
    </body>
</html>
