<h1>index</h1>


<script>console.log("hello")
const timer = setTimeout((event) => {
  const list = document.querySelectorAll(".init-page")
  list.forEach((element) => {
  element.classList.add("fade-out");
})
}, 1500);
</script>


<div class="init-container init-page">
  <%# insert image here %>
  <div class ="init-page init-img">
  <%= cl_image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662483567/bkkuejbfakl0vcfqycat.png", crop: :fill %>
  </div>
</div>


<div class="wrapper">
  <div class="cards">
 <% @items.each do |item| %>
    <div class="each-card">
      <div class="image">
      <img src="<%= item.image %>" alt="">
      </div>

      <div class="name">
        <%= item.name %>
      </div>

      <div class="price">
      <p>£ <%= item.price %></p>
      </div>
    </div>
    <% end %>
  </div>


</div>
