<h1>index</h1>


<script>console.log("hello")
const timer = setTimeout((event) => {
  const list = document.querySelectorAll(".init-page")
  list.forEach((element) => {
  element.classList.add("fade-out");
})
}, 1500);
</script>


<div class="init-container init-page">
  <%# insert image here %>
  <div class ="init-page init-img">
  <%= cl_image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662483567/bkkuejbfakl0vcfqycat.png", crop: :fill %>
  </div>
</div>






<%# if search bar triggered -- ED %>

 <% url = "https://www.trolley.co.uk/browse/baby-toddler-kids" %>




 <% html_file = URI.open(url).read %>
 <% html_doc = Nokogiri::HTML(html_file) %>
 <% search_results = html_doc.search(".product-item") %>
 <% search_results.each do |search_result| %>
    <% name = search_result.search("._desc").text.strip %>
    <% price = search_result.search("._price").text.strip %>
    <% brand =search_result.search("._brand").text.strip %>
    <% volume = search_result.search("._size").text.strip %> <br>
    <% category = "baby, toddler & kids" %>
    <% @image_link = search_result['src'] %>
        <% Item.new(name: name,
                    brand: brand,
                    volume: volume,
                    category: category
                 )%>
    <% end %>


 <div class="wrapper">
  <div class="cards">
    <div class="img">
        <img src='<%= "https://www.trolley.co.uk#{@image_link}" %>'>
    </div>

    <div class="brand">
      <% brands = html_doc.search("._brand") %>
      <% brands.each do brands %>
    </div>
    
    <div class="price">

    </div>

  </div>
</div>
   <% end %>
