<h1>index</h1>

<div class="init-container">
<p>hi</p>
  <%# insert image here %>
  <img src="../app/assets/images/sav_logo.png" alt="hi">
</div>



















<% url = "https://www.trolley.co.uk/browse/baby-toddler-kids" %>



 <% html_file = URI.open(url).read %>
 <% html_doc = Nokogiri::HTML(html_file) %>
 <% search_results = html_doc.search(".product-item") %>
 <% search_results.each do |search_result| %>
    <% @name = search_result.search("._desc").text.strip %>
    <% @price = search_result.search("._price").text.strip %>
    <% @brand =search_result.search("._brand").text.strip %>
    <% @volume = search_result.search("._size").text.strip %> <br>
    <% @category = "baby, toddler & kids" %>
    <% @image_link = search_result.search("._img src") %>
        <% Item.new(name: @name,
                    brand: @brand,
                    volume: @volume,
                    category: @category
                 )%>
 <div class="wrapper">
  <div class="cards">
    <div class="img">
        <%= @image_link %>
    </div>

    <div class="name">
      <%= @name %>
    </div>

    <div class="price">
      <%= @price %>
    </div>

  </div>
    <% end %>


</div>
