.navbar-lewagon {


  background: $red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 70px;
  z-index: 1;
}
.search-form-control {
  display: flex;
  align-items: center;
  // justify-content: center;

  height: 35px;
}
.form-control {
  border-radius: 20px;
  width: 185px;
}
#search-button {
  background-color: aliceblue;
  width: 70px;
  border-radius: 15px;
  transition: .3s ease-in-out;
}
#search-button:hover {
  background-color: $red;
  border: none;
}
.navbar-brand {
  background-color: $red;
  border: none;
}
.navbar-brand:hover {
  background-color: $red;
  border: none;
}

.navbar-toggler {
  border: none;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-flat {
  border: none;
}
.btn-flat:hover {
  border: none
}
