.navbar-lewagon {
  justify-content: space-between;
  background: lightgray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 70px;
  z-index: 1;
}
.search-form-control {
  display: flex;
  height: 35px;
}
.form-control {
  border-radius: 20px;
  width: 185px;
}
#search-button {
  background-color: aliceblue;
  width: 70px;
  border-radius: 15px;
  transition: .3s ease-in-out;
}
#search-button:hover {
  background-color: gray;
  border: none;
}
.navbar-brand {
  background-color: lightgray;
  border: none;
}
.navbar-toggler {
  border: none;
}
